<div class="foggy">
	<div class="foggy-model"></div>
	<div class="foggy-info">
		<div class="close-button close-foggy"><i class="glyphicon glyphicon-remove"></i></div>
		<h2><a href="https://www.vxinfuwu.com">黑魔法科技公司</a>提醒您：</h2>
		<p>根据合同<strong>全部网站建设工作完成后的 3 日内，甲方对全部工作成果进行验收并确认。因甲方未按时提供网站建设所需材料、图片或提供内容不完全，或未按时验收等原因导致的工期延误，责任由甲方自行承担，与乙方无关。</strong></p>
		<p>网站建设工作已经于2018年01月26日完成，确认时间最迟推迟到2018年02月08号，如果在截止日还没对成果完成确认并完成交付尾款，我们有权利关闭www.kejidalong.com托管的网站并保留向甲方追责的权利。</p>
		<p><strong>请按时进行网站确认并交付尾款。</strong></p>
	</div>
</div>