<!-- Create By 黑魔法科技有限公司 Website: https://www.vxinfuwu.com -->
<nav class="custom-navbar navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <!-- navbar-fixed-top -->
    <div class="full-container header-content">
        <!-- <div class="navbar-header"> -->
        <a class="navbar-brand logo en" href="index.html">&nbsp;</a>
        <!-- </div> -->
        <div id="navbar" class="collapse navbar-collapse navbar-reverse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <% if(router == 'about'){ print('active') }%>"><a class="nav-link" href="about.html">科稷达隆</a></li>
                <li class="nav-item <% if(router == 'events'){ print('active') }%>"><a class="nav-link" href="events.html">公司动态</a></li>
                <!-- <li class="nav-item <% if(router == 'hire' || router == 'joinus'){ print('active') }%>"><a class="nav-link" href="joinus.html">加入我们</a></li> -->
                <li class="nav-item <% if(router == 'cooperation'){ print('active') }%>"><a class="nav-link" href="cooperation.html">技术服务</a></li>
                <li class="nav-item <% if(router == 'contact'){ print('active') }%>"><a class="nav-link" href="contact.html">联系我们</a></li>
                <li class="nav-item">
                    <a href="http://www.cropedit.com/" class="nav-link">英文版</a>
                </li>
            </ul>
        </div>
    </div>
</nav>