<div class="row">
    <div class="col-md-4">
        <h1 class="hire-title">公司动态</h1>
        <ul class="job-list">
            <% for(let t in newsList) { %>
                <li class="job <% if(t < '2019.09'){ print('hidden')} %>">
                    <div class="position">
                        <a href="biotech.html?id=<%= t %>" class="click_tracking <% if(id == t){print('active')} %>">
                            <%= t %>
                        </a>
                    </div>
                </li>
                <% } %>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="job-content">
            <% for(var i in data) { %>
                <ul class="split">
                    <% for(var j in data[i]) { %>
                        <li>
                            <%= j.toUpperCase() %>: &nbsp;
                                <%= data[i][j] %>
                        </li>
                        <% } %>
                </ul>
                <% } %>
        </div>
    </div>
</div>