<div class="article">
    <h2>烈日骄阳，公司团建真人CS鏖战</h2>
    <p>2020年6月5日刚入夏天气微热，迎着晨光，科稷达隆各位伙伴乘车来到北京上庄水库，换上迷彩服，真实的体验一把“激烈枪战”。你追我赶，你躲我闪，大家仿佛都回到 了童年和伙伴们一起玩警察抓土匪游戏的欢乐时光，无论如何，咱也是体验了一把“战争”的激烈了，有输有赢，常言道“胜败乃兵家常事”，比赛第二，各位小伙伴的友谊才是第一。</p>
    <img class="full-width" src="./assets/events<% print(id) %>/1.png">
    <p>玩完CS，体力消耗甚大，接下来就到了该酒足饭饱、补充体力的阶段啦！烧烤美食正式登场，美味的各式烤串、热烈表白科稷达隆伙伴的香甜蛋糕、再来点夏日必备的西瓜，十分美味。各位伙伴自己动手、丰衣足食，享受这难得的悠闲时光。
    </p>
    <img class="full-width" src="./assets/events<% print(id) %>/2.png">
    <p>吃饱喝足之后该看看风景做游戏啦，恰巧附近公园环境甚是优美，集体前进，向公园出发，趣味十足的小游戏，让各位伙伴合作赢取胜利，增进了彼此之间的感情。在汗水和欢笑中，我们结束了疲惫但依然欢快的一天的团建活动。在本次团建活动中，我们分工协作，群策群力，勇于挑战，充分体现了团队的战斗力和凝聚力。
    </p>
    <img class="full-width" src="./assets/events<% print(id) %>/3.png">
</div>