<div class="article">
    <h2>中国科学院微生物研究所吴家和研究员莅临科稷达隆</h2>
    <img class="full-width" src="./assets/events<% print(id) %>/1.png">
    <p>2021 年 5 月 12 日下午，中国科学院微生物研究所研究员、博 士生导师吴家和教授受邀来访科稷达隆王榕董事长、刘尚钟老师、 CEO 李相敢老师以及相关研发人员参加了接待并与吴教授进行了深 入的交流讨论。</p>
    <p>吴家和教授研究方向是植物与微生物互作。他多年来在棉花黄萎 病抗病分子机理上的研究有突出成果，进行了植物生物技术(棉花农 杆菌介导遗传转化和基因组编辑技术)平台的建设和优化，是国家转 基因质量标准委员会首席专家，中国农业科学院棉花研究所客座研究 员，郑州大学外聘教授。吴教授成功选育了棉花品种“晋棉 38”。</p>
    <p>会前 CEO 李相敢老师带领吴教授参观了分子实验室、组织培养 实验室和人工智能温室，介绍了科稷达隆的研发方向和取得的成果。</p>

    <p>王榕董事长在交流会上，介绍了颖泰生物的发展历程和创办科稷 达隆的初衷。吴教授首先表达欣赏颖泰生物在农业生物技术方面的战 略投入，然后对科稷达隆在短时间内搭建高效的技术平台，取得的成 绩表示赞赏。最后，双方在中国现阶段的农业生物技术的现状以及发 展前景进行深入的探讨。吴教授认为:</p>
    <p>1. 转基因棉花在中国有很好的市场和前景，尤其是在新疆地区， 棉花种业利润可观。在转基因产业化中，转基因棉花将是最快获得回 报的转基因作物。目前存在的风险主要是政策风险，但是当下一定要 做转化事件的储备，一旦政策放开，才可以抢占市场。抗虫(棉铃虫、 草地贪夜蛾、盲蝽蟓、蓟马)和低或高棉酚性状都是比较好的产品开 发方向。</p>
    <p>2. 转基因玉米和大豆也很有潜力，但是竞争激烈，速度一定要快。 大豆每年中国需求 4 亿亩，其中 2 亿亩是中粮在国外种植后进口。 如果转基因政策放开，国内允许种植转基因大豆，中国转基因大豆的 机会就来了。</p>
    <p>最后，吴教授在遗传转化、盲蝽蟓生测、转基因安全申报等方面 介绍了经验。</p>
    <p>通过这次交流，科稷达隆再一次感受到生物技术市场蓄势待发的 势头。因此，我们需要争分夺秒，抓住机遇，在中国棉花和玉米市场 占领一席之地。</p>
</div>