<div class="article">
    <h2>科稷达隆众志成城共筑防疫战线</h2>
    <p>7 月 28 日，在昌平生命科学园区发现新冠确诊病例后，接到园 区党委的通知，结合颖泰大厦疫情防控分区管理的要求，科稷达隆马 上启动了应急措施，第一时间成立了疫情防控志愿小组，志愿者共 14 人:杨敏，董玉凤，王冬梅，李双凤，吴业春，葛玉君，耿惠， 周红菊，任海翠，周玉姣，靳海霞，裴睿丽，李莹莹，程艳军。</p>
    <p>8 月 2 日开始，志愿者们实行轮流值班制，值班人员每天早七点 准时到岗，在进入大厦门口等候，为上班员工消毒、量体温并记录、 发口罩。每天下午两点再次全员测温记录并上报。员工出入大厦要详 细登录进出时间，来访者也须配合防疫要求提供相应证明方可进入公 司。本次疫情虽时间短，但 14 名志愿者毫不松懈，严把每一关。他 们的付出是为全体员工的安全提供保障，他们的辛苦是为全体员工的 幸福做努力。心怀感恩!科稷达隆全体员工向每位辛勤的志愿者致敬!</p>
    <img class="full-width" src="./assets/events<% print(id) %>/1.png">
</div>