<div class="article">
    <h2>科稷达隆顺利通过知识产权管理体系认证现场审核</h2>
    <div class="text-align-center">
        <img class="part-width" src="./assets/events<% print(id) %>/1.png">
    </div>
    <p>2021 年 7 月，科稷达隆申请了“知识产权管理体系认证”这项 资质，需要申请材料和现场审核都通过才能颁发证书。7 月 15 日提 交申报书后已合格。但由于“新冠疫情”防控需求，现场审核一直未 开展。最后定于 8 月 17 日以实地+远程相结合进行现场审核，中知 (北京)认证有限公司徐佳老师担任审核组长到公司实地审核，曹红 波及王倩老师作为组员通过远程进行审核。审核的公司部门包括人事 部、财务部、研发部、商务拓展部及市场营销部等。</p>
    <p>科稷达隆李双凤、庞秋阁、闫留华、肖艳云及程艳军等配合审核， 分别与审核老师进行一对一远程交流各部门关于知识产权部分的内 容，并提供相关证明材料，如劳动合同，关于知识产权的发票，采购 合同等。</p>
    <p>经过一天时间的现场审核，科稷达隆顺利通过并获得知识产权管 理体系认证证书。</p>
</div>