<div class="article">
    <h2>颖泰生物:布局种业赛道 引领未来发展</h2>
    <p>18 年来，从一家国际贸易型企业向生产制造领域延伸，颖泰生 物在农药领域不断适应全球化分工格局，成为行业领头羊。如今，随 着国际农药制造业转移至中国的红利期结束，面对行业增速放缓，颖 泰生物通过加强国内龙头企业间的战略合作，争取成为行业集中度提 高的受益者。</p>
    <h4 class="text-align-center">强强联合</h4>
    <p>颖泰生物近日披露，公司控股股东华邦健康与上市公司新安股份 通过特定事项协议转让方式，交易公司 1.51 亿股股份(合计占公司 总股本的 12.31%)，股份转让事项在中登公司办理完成证券交易过 户，新安股份一跃成为颖泰生物第二大股东。</p>
    <p>颖泰生物与新安股份之间并不止于股权合作。按照此前签订的 《战略合作协议》，双方将以颖泰生物作为合作平台，在包括但不限 于农化新产品研发、GLP 技术服务、搭建技术服务平台、转基因和基 因编辑技术研究、种子研发、产业链布局等领域开展合作，合作方式 包括但不限于技术合作、业务合作等;双方还将结合各自优势资源， 加强在农化产品线等方面的合作力度，可采取合资建厂、深化产品供 应链合作、销售渠道共享方式实现产品互补，合作共赢。</p>
    <p>颖泰生物是中国农化行业排名靠前的企业。有农药领域专家表示， 颖泰生物有丰富的全球渠道资源和深厚的原料药研发根基，而新安股份是中国草甘膦龙头生产商，双方优势资源有诸多可以互补的地方， 相信未来有较大合作空间。</p>
    <p>具体来说，华邦健康与新安股份战略合作，一方面能帮助华邦健 康降低其所持的颖泰生物股权占比，为资本运作腾出空间;另一方面 也便于双方优势互补，实现产业链的整合。此外，全球农药行业增速 已经趋缓，中国作为全球最大的农药生产国，未来更多机会在行业集 中度提升上。强强联合、产业并购将成为一种趋势。</p>
    <p>加强产业协同，实施强强联合，还体现在颖泰生物与浙农股份合 作上。今年 9 月，颖泰生物与上市公司浙农股份签署《战略合作协议》， 未来浙农股份将成为颖泰生物现有优质产品的国内总经销或区域总 经销，双方还将采取合资组建销售公司、合资建厂等方式，深化产品 供应链合作、销售渠道共享，实现资源互补、合作共赢。</p>
    <p>前述专家分析，浙农股份是长三角区域的农药销售龙头，但在产 品研发、生产方面偏弱;而颖泰生物国内销售渠道偏弱，研发较强， 两者合作有助于各自做大做强。</p>
    <h4 class="text-align-center">攻关种业</h4>
    <p>种子被称为农业的“芯片”。近两年，国家将种业放到了至关重 要的位置。2020 年中央经济工作会议提出解决好种子和耕地问题， 强调要开展种源“卡脖子”技术攻关。今年中央一号文件提出，农业 现代化，种子是基础，深入实施农作物和畜禽良种联合攻关。</p>
    <p>而在实业界，流传着全球转基因种子领先生产商孟山都以种业打败竞争对手的故事。孟山都研发出适用于转基因作物的草甘膦后，为 了打开新产品销路，研发、培育出转基因玉米和转基因大豆种子。由 于转基金玉米和转基因大豆产量非常高，经济性远远胜于传统大豆和 玉米，从而后来居上，成为全球主要的玉米、大豆品种。从而，相匹 配的草甘膦农药，顺势成为主流除草剂。</p>
    <p>孟山都的成功模式，从一个侧面说明了种业的重要。依赖国际化 视野，颖泰生物早在 5 年前就开始布局种业研究。</p>
    <p>2016 年 9 月，颖泰生物基于自身产业结合现代化农业领域的延 伸发展考虑，启动了科稷达隆项目，开启了以生物育种、基因编辑为 方向辅助农药应用的前沿探索。科稷达隆的核心研发与颖泰生物主营 品种除草剂产品相结合，希望形成 1+1>2 的强大优势。</p>
    <p>相关人士透露，科稷达隆成立以来，在专业化程度、创新能力及 经营管理方面取得显著成效。科稷达隆拥有高端的研发基础设施、实 验室，配套了精密仪器设备，从载体构建、分子检测、自动化人工气 候室、试验基地、种质资源库等方面配备了专业化人才，且拥有完善 的质量控制体系，并自主研发出一套 LIMS 数据管理系统，各项研发 的专业化程度都处于行业领先地位。目前，该公司已形成“5+2”研 发体系，包括性状改良平台、生物技术平台、诱变育种平台、蛋白进 化平台、分子检测平台等五大核心平台和遗传转化、基因编辑等两大
        体系。
    </p>
    <p>依托上述核心平台，科稷达隆获得了以下创新成果:已申请 20 余项发明专利;已获得抗虫、抗除草剂等功效的种子作物，包括棉花、玉米、水稻、小麦、高粱、油菜等;成功获得性状改良作物种质资源: 水稻(香味、粒形、淀粉含量、抗倒伏等)和玉米(香味、淀粉含量)。</p>
    <p>颖泰生物相关人士表示，公司从起家到发展，都和跨国公司有着 很深的渊源。育种作为农化产业链的前端和核心，一直是头部跨国公 司的优势所在，也是划分企业梯队的深度标准。颖泰生物正在向跨国公司看齐，并利用跨国公司的资源，在该领域前瞻布局，合理投入， 希望借种业赛道，提高公司农药产品的竞争力，引领公司的未来发展。</p>
    <p class="text-align-right">----来源《上海证券报》2021.10.21</p>
</div>