<div class="article">
    <h2>金融、产业各界人士齐聚科稷达隆，共话合作与发展</h2>
    <p>2021 年 11 月 11 日，新疆嘉信基金管理有限公司董事长张洪、中国社会科 学院金融重点实验室主任刘煜辉、中国社科院产业金融研究基地副主任钱学宁、 九圣禾控股集团有限公司农业研究院总经理胡海军、新疆嘉信基金管理有限公司 梁洁等齐聚科稷达隆，共谋合作与发展。科稷达隆董事长王榕、董事刘尚钟、 CEO 李相敢、法务经理文琦、市场及商务专员等参加了本次会议。</p>
    <p>会上，科稷达隆董事长王榕介绍了公司第一大股东颖泰嘉和的情况:颖泰嘉 和作为全球领先的农化产品供应商，已拥有工艺技术较为先进的除草剂、杀菌剂、 杀虫剂三大类品类百余种产品。随后，公司 CEO 李相敢介绍了科稷达隆基本情 况:科稷达隆专注于转基因、基因编辑、化学诱变等农业技术的前沿探索，已获 得抗虫、抗除草剂等功效的种子作物，包括棉花、玉米、水稻、小麦、高粱、油 菜等;成功获得性状改良作物种质资源:水稻(香味、粒形、淀粉含量、抗倒伏 等)和玉米(香味、淀粉含量)，并申请 20 余项国内外发明专利。科稷达隆的
        核心研发与颖泰生物主营品种除草剂产品相结合，希望形成 1+1>2 的强大优势。</p>
    <p>
        随后，北京九圣禾农业科学研究院有限公司总经理胡海军介绍了九圣禾基本 情况:九圣禾种业股份有限公司成立于 2003 年，是以玉米、小麦、棉花种子的 研发、生产、加工、营销和技术服务为一体的股份制种业企业。北京九圣禾农业 科学研究院有限公司(以下简称“九圣禾研究院”)成立于 2015 年，是九圣禾 种业股份有限公司全资子公司，现注册资本 6500 万元人民币，以玉米、小麦、 棉花的选育、测试、品种审定、产权经营和科研合作为主营业务。在全国建立了 7 个核心育种站，1 个南繁育种站，35 个生态育种站以及
        200 多个产品测试点; 小麦主要面向黄淮地区，棉花面向新疆地区，玉米面向东北地区。并建立走出去合作机制，在哈萨克斯坦、乌兹贝克斯坦、巴基斯坦等国建立试验站和科研中心， 在各国审定品种进行推广。胡总介绍，九圣禾研究院上游研究缺乏生物技术，对 科稷达隆生物技术研究高度认可，希望未来能与科稷达隆共同探讨出适合双方的 合作模式，为加快优良新品种的推广做好布局。
    </p>
    <p>
        中国社会科学院金融重点实验室主任刘煜辉教授及中国社科院产业金融研 究基地副主任钱学宁研究员对科稷达隆的技术及产品给予高度认可，并分别就金 融领域对转基因行业的评估、转基因对作物品质的影响、科稷达隆与国外技术的 差异、研发投入、下一步规划等问题进行了交流。
    </p>
    <p>
        随后在李相敢老师等陪同下参观了科稷达隆实验室及人工智能温室，进一步 了解了科稷达隆的最新技术及研发进展情况。
    </p>
    <div class="text-align-center">
        <img class="part-width" src="./assets/events<% print(id) %>/1.png">
    </div>
</div>