<div class="article left-h2-green">
    <h2>知识讲堂:转基因知识介绍</h2>
    <h3>1. 什么是基因?</h3>
    <p>
        人类对基因的认识经过了漫长的知识积累阶段。早在 1865 年，一个名叫孟 德尔的奥地利修道士就通过碗豆杂交实验提出了“遗传因子”的概念，这是基因 的前身。1909 年，丹麦遗传学家约翰逊首次提出了“基因”一词，开始沿用至 今。二十世纪初，美国遗传学家摩尔根进一步发现基因是染色体上线性排列的。 而真正揭示基因本质是在现代分子生物学诞生和发展之后。
    </p>
    <div class="text-align-center">
        <img class="part-width" src="./assets/events<% print(id) %>/1.png">
    </div>
    <p>
        20 世纪 50 年代，随着脱氧核糖核酸(DNA)双螺旋结构的解析，人类对 基因的结构和特性有了更深入的了解。基因是遗传信息的基本单位，是染色体或 基因组的一段 DNA 序列。基因包括编码序列(外显子)、间隔序列(内含子)和编 码区前后对于基因表达具有调控功能的序列(启动子和终止子)。
    </p>
    <div class="text-align-center">
        <img class="part-width" src="./assets/events<% print(id) %>/2.png">
    </div>
    <p>
        人类大约有 30000 个基因，储存着人类生长、凋亡过程的全部信息，通过 复制、表达、修复，完成生命繁衍、细胞分裂和蛋白质合成等重要生理过程。生 物体的生、老、病、死等一切生命现象都与基因有关。不同物种中基因数量差异 很大，如简单的 RNA 病毒只有 8 个基因，流感病毒大约有 1700 多个基因，大 肠杆菌有近 4300 个基因，水稻大约有 46000 至 55000 个基因。生物的某个性 状可由一个基因决定，也可由多个基因或一组基因共同决定。
    </p>
    <div class="text-align-center">
        <img class="part-width" src="./assets/events<% print(id) %>/3.png">
    </div>
    <h3>2. 基因与生物性状是什么关系?</h3>
    <p>
        基因控制生物性状的过程十分复杂，至今这个问题仍然是分子遗传学前沿研 究的重点，但其基本原理已被现代生命科学研究所揭示。1958 年，一个名叫克 里克的英国科学家最早提出了基因如何控制生物体性状的原理，在遗传学上称为 遗传信息传递的规律，被命名为中心法则。中心法则阐明了遗传信息传递的方向， 即遗传信息从 DNA 传递至 RNA(核糖核酸)，再传递至多肽(蛋白质)。蛋白 质是所有生命的基础物质，是机体细胞的最基本、最重要的组成部分。人体的每 一个组织，如皮肤、体毛、头发、骨骼、内脏、大脑、神经、血液、肌肉等，都
        是由蛋白质构成的。在细胞中，有一套十分精密的工作系统可以准确地把这些基 因所编码的蛋白质生产出来。通俗地说，基因就是通过决定合成特殊功能的“蛋 白质”来决定生物体的性状特征。
    </p>

    <h3>3. 什么是转基因技术?</h3>

    <p>
        转基因技术，就是科学家利用工程技术将一种生物的一个或多个基因转移到 另外一种生物体内，从而让后一种生物获得新的性状。比如，将微生物体内的抗 虫基因转入棉花、水稻或玉米，培育成对棉铃虫、卷叶螟及玉米螟等昆虫具有抗 性的转基因棉花、水稻或玉米。
    </p>

    <div class="text-align-center">
        <img class="part-width" src="./assets/events<% print(id) %>/4.png">
    </div>

    <p>
        转基因产品是采用转基因技术改造后的生物体及加工产品，主要包括转基因 生物和转基因食品。转基因生物是指经转基因技术修饰的生物体，常被称为“遗 传修饰过的生物体”(Genetically modified organism，简称 GMO)，包括转 基因植物、动物和微生物;转基因食品是指利用生物技术改良的动物、植物和微 生物所制造或生产的食品、食品原料及食品添加物等。
    </p>
    <div class="text-align-center">
        <img class="part-width" src="./assets/events<% print(id) %>/5.png">
    </div>
    <h3>4. 转基因技术的应用主要有那些?</h3>
    <p>
        国际上，转基因技术已经广泛应用于医药、工业、农业、环保、能源等领域， 成为新的经济增长点，在未来数十年内将对人类社会产生重大影响。目前广泛使 用的人胰岛素、重组疫苗、抗生素、干扰素和啤酒酵母、食品酶制剂、食品添加 剂等有很多都是转基因产品。在农业领域，国际上已培育出了一大批具有抗虫、 抗病、耐除草剂、优质、抗逆等优良性状的转基因作物新品种。
    </p>


    <div class="text-align-center">
        <img class="part-width" src="./assets/events<% print(id) %>/6.png">
    </div>
    <p>
        科稷达隆公司在颖泰总公司的支持下，已成功建成国际领先的研发体系和现 代化的研发平台。依托以上核心平台和体系，历时五年，也已成功获得抗虫棉花、 抗除草剂水稻和抗虫玉米等优良种质资源。
    </p>

    <h3>5. 转基因技术与传统育种有何异同，它的优势有哪些?</h3>
    <p>
        基因是决定生物性状和特征的根本要素。因此，育种的基本原理就是通过人 为的干预，使养殖的动物和种植的作物中不断地积累“有利”基因而减少“不利” 基因。无论是传统的常规育种技术，还是现代生物技术产生的转基因育种技术， 都是以使动物或植物获得优良基因为目的来进行遗传改良的。在这个层面上，转 基因育种与常规育种是一脉相承的，其本质相同，都是遗传物质，即基因的交换。
    </p>
    <p>
        但是，与转基因技术不同的是，常规育种技术需要通过有性生殖阶段。在这 个前提下，如果想要从种外引入优良基因就无能为力了，因为不同的物种难以或 根本不能产生后代，即所谓的“生殖隔离”。而转基因技术是可以打破物种的界 限，实现传统育种技术不能做到的物种间的基因转移，理论上可实现任何物种间 的基因交流。除此之外，转基因技术还实现了对具体基因进行精确的操作。传统 育种技术通常是在基因组水平上对目标物种进行选择的，对于目标物种后代性状 的预见性相对较差;而转基因技术则是针对功能明确的基因进行操作和转移，可 以准确地预知转基因后代的性状。就是由于转基因技术与常规育种技术间存在的
        这两个明显的不同，使科学家通过转基因技术可以更加快速、高效地改变目标物 种的性状特征，从而极大地加快了培育优良品种的速度、提高了育种的效率。
    </p>
    <p>
        转基因技术的广泛应用，有效降低了农业生产人工成本，减少了农药使用量， 减少灾害损失，在缓解资源约束、保护生态环境、改善和提高农产品质量和营养 价值，推进绿色发展方面发挥了重大作用，引发了农业生产方式的革命性变化， 深刻改变了农产品贸易格局，已经成为国际农业科技战略必争的前沿领域。
    </p>

    <div class="text-align-center">
        <img class="part-width" src="./assets/events<% print(id) %>/7.png">
    </div>

    <p>
        科稷达隆公司目前研发成功的抗虫玉米、抗虫棉花就是将微生物体内的抗虫 基因和抗除草剂基因，使用植物遗传转化的方法，转入玉米、棉花等作物，然后 利用先进的检测手段进行阳性转化体的鉴定，以此来获得优良的种质资源。除此 之外，我们还通过基因编辑技术，精确的修饰和改造这些作物中可以产生优良性 状的基因，使它们具有比普通品种更加优良的性状，更高的经济价值。
    </p>
    <h3>6. 转基因作物及其产品的安全怎么评估?</h3>
    <p>
        世界卫生组织以及联合国粮食及农业组织认为，凡是通过安全评价上市的转 基因食品，与传统食品一样安全，这是国际共识。联合国粮农组织在《粮食及农 业状况 2003-2004》报告中明确指出:转基因食品是安全的也是合法的，而且， 迄今为止，在世界各地尚未发现可验证的，因使用由转基因作物加工的食品而导 致中毒或有损营养的情况。
    </p>

    <p>
        我国政府十分重视转基因安全监管，建立健全了转基因安全评价与管理的安 全保障体系。制定了《农业转基因生物安全管理条例》等法规及其配套的行业执 行准则。《条例》规定国务院农业行政主管部门负责全国农业转基因生物安全的 监督管理工作，同时也建立了农业转基因生物安全管理部联席会议制度。这个会 议是由农业、科技、环境保护、卫生、外经贸、检验检疫等有关部门的负责人组 成的，主要负责研究、协调农业转基因生物安全管理工作中的重大问题。《条例》 也规定，国务院农业行政主管部门需要下设农业转基因生物安全委员会，负责农
        业转基因生物的安全评价工作。农业转基因的生物实验，一般都应当经过中间试 验、环境释放和生产性试验三个阶段，只有三个试验阶段全部通过申报，才可发 放安全性证书。安全评价工作内容主要包括食用安全和环境安全两个方面。经过 安全评价且获得安全证书的转基因产品是安全的!
    </p>

    <p>
        科稷达隆公司在仅仅不到五年的时间里，近 10 个项目被批准中间试验，总 计已拿到约 62 份批文!除此之外，本年度将提交 4 个项目的环境释放批文申请。 根据今年的审批情况，计划明年也将积极推进通过环境释放项目的生产性试验的 申请。相信在科稷达隆领导层的带领下、每一位员工兢兢业业的努力下，不久将 会有好的消息传来。
    </p>

    <div class="text-align-center">
        <img class="part-width" src="./assets/events<% print(id) %>/8.png">
    </div>






</div>