<div class="article">
    <h2>颖泰生物:耐除草剂棉花、水稻和玉米三项生物技术产品获得环境释放批文</h2>
    <p>2022 年 1 月 19 日，北京颖泰嘉和生物科技股份有限公司(简称“颖泰生 物”)发布了关于控股子公司科稷达隆(北京)生物技术有限公司(简称“科稷 达隆”)农业转基因生物安全评价环境释放获批的公告。</p>
    <p>
        科稷达隆的转外源基因抗虫耐除草剂玉米、转外源基因耐除草剂棉花、突 变水稻基因耐除草剂水稻三项生物技术产品近日通过农业农村部的农业转基因 生物安全审批，获得环境释放的批文。该批文的获得标志着科稷达隆生物技术产 品正式通过农业转基因生物安全委员会重要审批环节。
    </p>
    <p>
        我国转基因作物推广需通过试验研究、中间试验、环境释放、生产性试验 4 个阶段的审定，然后申请安全证书。在完成前述 4 个阶段并获得安全证书后，相 关产品即具备商业化实质。科稷达隆在完成环境释放试验后，将进行生产性试验 申报，这为公司生物育种产品发展带来积极的影响。
    </p>
    <p class="align-right">
        来源:ACE 国际农业展 2022-01-24
    </p>
</div>