<div class="article">
    <h2>8月坝上草原之旅</h2>
    <p>8月21日，秋高气爽，晴空万里，我们抓住夏天的小尾巴，来一场与草原的“约会”。坝上草原，位于群山之外，有丘陵，有草原，错落有致，不似内蒙草原的一览无余。夏末的草原，天高云淡，百草丰茂，牛马成群。8月22日坝上行团建完美收官，这一路科稷达隆的各位伙伴一起看过如画如诗的美景，享用了诸多草原特色美食。</p>
    <img class="full-width" src="./assets/events<% print(id) %>/1.png">
    <p>经过6个小时的长途驱车，科稷达隆一行人最终到达京北第一草原——丰宁坝上草原。海留图湿地公园摇摇车，碰碰车、草原高尔夫、滑草、射箭……各种游玩项目，应接不暇。闪电湖，夕阳西下，凉风习习；大汗行宫，历史厚重，大气磅礴。情人谷，白桦树青翠挺拔，不知名的野花，姹紫嫣红，都在努力的绽放着。路旁开着或紫或白花的土豆、大片大片的黄籽油菜，莜麦，甘蓝，都在无声诉说当地的风土人情和饮食习惯。科稷达隆的各位伙伴亦真切地感受了一把放飞自我生活的快意悠闲 。
    </p>
    <img class="full-width" src="./assets/events<% print(id) %>/2.png">
    <p>极具草原特色的饮食让各位伙伴吃撑了肚儿，清冽的下马酒，麻辣鲜香的烤牛肉干、奶香浓郁的咸奶茶和奶片、色泽金黄、皮脆肉嫩、香气四溢的烤全羊，酒足饭饱的夜晚，各位伙伴手拉手围着篝火载歌载舞，烟花也正绚烂，洋溢着满满的幸福与快乐。
    </p>
    <img class="full-width" src="./assets/events<% print(id) %>/3.png">
    <p>两天的行程，吃喝玩乐一应俱全，安排的满满当当，有山，有水；有花，有草；有美食，有美景，有科稷达隆大家庭每一位的陪伴，不虚此行，坝上草原，下次见。
    </p>
    <img class="full-width" src="./assets/events<% print(id) %>/4.png">
</div>