<div class="article">
    <h2>欢聚一堂、共度佳节</h2>
    <p>2020年9月25日，值此中秋、国庆佳节来临之际，科稷达隆生物技术有限公司与颖泰生物、颖泰分析共同举办“欢聚颖泰、共度佳节”浓情中秋国庆系列活动。</p>
    <img class="full-width" src="./assets/events<% print(id) %>/1.png">
    <p>活动现场组织了中秋传统《博饼》游戏，科稷达隆各位伙伴热情参与其中，掷骰子、试手气、博彩头、赢月饼。
    </p>
    <img class="full-width" src="./assets/events<% print(id) %>/2.png">
    <p>除此之外，活动现场布置有两颗许愿树、科稷达隆各位员工将心愿写在樱花心愿卡上、许下这一年来最衷心的祝愿与憧憬。另有书法爱好者可以挥毫泼墨、一展佳作。
    </p>
    <img class="full-width" src="./assets/events<% print(id) %>/3.png">
    <p>联合活动过后、公司晚上另组织中秋团员活动，活动现场为入职满三年的员工颁发纪念品、各位伙伴相聚在一起打扑克、看电影、狼人杀，度过了一个趣味十足的中秋团圆夜。
    </p>
    <img class="full-width" src="./assets/events<% print(id) %>/4.png">
</div>