<div class="article">
    <h2>中国农业科学院生物技术研究所专家访问公司</h2>
    <p>结合公司“走出去，请进来”的指导思想，2021 年 1 月 14 日下午，公司邀请中国农业科学院生物技术研究所张锐老师来公司访问，张老师一行五人与公司主管团队就合作项目进行了充分探讨。</p>
    <img class="full-width" src="./assets/events<% print(id) %>/1.png">
    <p>张锐老师实验室是公司棉花作物对外技术服务的客户，合作项目 为海岛棉基因编辑研究。该项目在技术层面上无论是在国内还是国际 上都具有较大的挑战性，难度很大。公司接到这个项目后，各部门科 学家多方查阅文献，积极讨论可行技术方案，边做边摸索，客服诸多 难题，最终在大家共同的不懈努力下获得了成功编辑的阳性苗，并后 续观察到海岛棉改良后的优良表型性状。
    </p>
    <p>张老师介绍了课题组的研究背景内容、研究方向、研究进展，以 及研发的关注点和重心。随后，张老师也介绍了棉花作物在十三五期 间获得的科研成果，以及在未来十四五的研究计划，并就大家关心的 科研问题一一做出耐心的解答，为公司棉花研发项目提供了一个参考。
    </p>
    <p>张老师会后参观了公司的人工气候室和组培实验室，也对公司基因编辑技术大加赞赏，同时针对编辑技术问题与员工之间进行了详细 的交流和探讨，为双方今后的合作建立了一个很好的基础。
    </p>
</div>