<div class="article">
    <h2>中国国际文化交流中心杨宏卫主任一行</h2>
    <h2>莅临科稷达隆考察调研</h2>
    <p>2021 年 3 月 12 日下午，中国国际文化交流中心“一带一路” 金融合作研究院产业金融研究中心杨宏卫主任一行莅临公司考察调 研。研究中心的项目运营总监王晓芳、秦飞等有关领导陪同调研。公 司 CEO 李相敢及公司营销商务团队参加了本次接待活动。</p>

    <p>李相敢向杨宏卫一行介绍了科稷达隆的发展情况。作为国内生物 育种关键技术平台公司，科稷达隆围绕现代农业生物技术行业发展， 为植物育种技术提供亟需的新基因、新技术、新材料。除此之外，凭 借着高水平技术人才和高端仪器设备，科稷达隆积极与各个科研院所、 高校及企业合作，为其提供可取的生物育种前沿技术问题解决方案。
    </p>
    <img class="full-width" src="./assets/events<% print(id) %>/1.png">
    <p>随后，杨宏卫主任一行在李相敢老师等的陪同下参观了公司组织培养实验室、分子实验室及智能人工气候温室，充分了解科稷达隆基 因编辑及其他研发平台的最新技术及研发进展情况。
    </p>
    <p>参观完毕后，杨宏卫主任对科稷达隆各平台建设状况及技术水平 表示赞赏，并就企业融资、产品开发和技术研发、发明专利申领等问 题进行深入探讨，希望能够通过中国国际文化交流中心研究院在“一 带一路”方面为科稷达隆产品的“走出去”提供支持及帮助。
    </p>
</div>