<div class="article">
    <h2>张生学博士获评“2020年度最佳颖泰人”荣誉称号
    </h2>
    <img class="full-width" src="./assets/events<% print(id) %>/1.png">
    <p>2020 年度，张生学博士在工作中取得了优异的成绩:帮助设计 棉花高效基因编辑载体;建立了不受基因型限制的玉米遗传改良体系， 一方面为公司带来了创收，另一方面为公司增加了技术储备，为玉米 即将开展的项目打下了坚实的基础;设计、创制蛋白进化用的酵母菌 株，申请专利一项;设计基因克隆载体，使 DNA 片段的回收成本降 低了 50%以上。</p>

    <p>张生学博士具有很强的科研能力，基础理论扎实、专业知识丰富; 更可贵的是，他对待科学非常有热情，兢兢业业、任劳任怨，经常加 班加点，进行了很多项目的探索和创新。尤其是在他负责的项目中， 刻苦钻研技术文献，实验中不怕苦不怕累的投入，日日亲自照顾自己 的实验材料，敢于迎接并克服新的挑战，具有死磕到底的精神，各项 工作均取得不错的成绩。
    </p>
    <p>我们的队伍中还有很多和张博士一样的伙伴，对科研有热情，愿意披星戴月地付出，愿意迎接挑战，敢于和困难死磕到底。公司一定 会不断地发现、鼓励、奖励这样的伙伴，以感谢这些奋斗者们为我们 共同的未来所做的努力。
    </p>
    <p>恭喜张生学博士获评颖泰集团“2020 年度最佳颖泰人”荣誉称 号!感谢所有奋斗在科研路上的科学家们!
    </p>
</div>