<div class="article">
    <h2>葛玉君获评“华邦之星”荣誉称号</h2>
    <img class="full-width" src="./assets/events<% print(id) %>/1.png">
    <p>葛玉君作为公司的中坚力量，身兼数职，承担着温室、种子库、 HSE 三项重点工作，在工作上一直兢兢业业、积极进取，负责的各项 工作都取得了优异的成绩。葛玉君在工作中具有很强的条理性、目标 性、执行力，带领团队把温室、种子库各项工作开展的井然有序，有 优化、有创新。2020 年，在葛玉君的努力下，公司环评获得批复、 实验室零事故、疫情防控零感染，为公司后勤保障工作做出重大贡献。 葛玉君以极大的热情投入工作，竭尽全力的去将每一项工作干好。是 我们学习的好榜样!</p>
    <p>我们的队伍中还有很多和葛玉君一样的伙伴，热爱科稷达隆团队， 对工作有热情，愿意迎接挑战，全心全意助力科稷达隆发展进步。公 司一定会不断地挖掘、奖励这样的伙伴，以感谢奋斗者们为我们共同 的未来所做的努力!
    </p>
    <p>恭喜葛玉君获评华邦健康集团“2020 年度华邦之星”荣誉称号! 感谢所有热爱工作和一直努力奋斗的伙伴们!
    </p>
</div>