<div class="article">
    <h2>绿色创业汇牛从领导一行莅临科稷达隆考察调研</h2>
    <p>2021 年 4 月 14 日下午，绿色创业汇合伙人之一牛从总经理一 行莅临科稷达隆生物技术有限公司考察调研。生物技术顾问郑桂杰博 士陪同调研。科稷达隆创始人黎跃进老师、CEO 李相敢老师及公司 商务拓展负责人参加了本次接待活动。</p>
    <p>会上，牛从总经理首先介绍了绿色创业汇:</p>
    <p>2003 年，“绿色创业汇”的前身“新经济中国项目”诞生，成为 国内最早专注于扶植绿色产业初创企业的公益项目;2013 年，“绿色 创业汇”成立。成立以来，深入辅导初创企业达到 162 家，足迹遍 及全国 25 个省市自治区。入选的企业范围涵盖清洁能源、节能与能 效提高、水资源管理、污染物防治与废弃物管理、可持续土地利用、 环保型新材料新工艺、生物多样性保护、绿色生活方式八大领域。</p>
    <p>14 年间，平台拥有国际国内庞大的环保人脉，拥有壳牌集团、 Autodesk、花旗集团、British Council、宜信、启迪之星等国际国 内合作伙伴，为绿色创业者搭建一流的环保生态圈，为创业者融资超 过 10 亿元人民币。这些企业不仅发展成为当地创造就业、加快经济 发展方式转变的中坚力量，在绿色影响力方面，合计减排二氧化碳当 量超过 1000 万吨，处理污水超过 8000 万吨，使 720 万亩土地得到 了可持续利用。目前，该平台将着眼于农业领域，尤其是农业基因编 辑和转基因领域，在碳中和的大环境下，实现农业绿色可持续发展。
        投入农业的总资金额 1 亿元。</p>
    <p>随后，李相敢老师介绍了科稷达隆各板块的研发进展情况，包括化学诱变、基因编辑等，牛总对科稷达隆的理念及研发给予高度认可，认为科稷达隆是国内生物技术行业研究比较领先的企业，包括平台建 设、人员团队等。双方就玉米研究的创新性、产品在市场中的竞争能 力、发明专利情况、相关政策的审批及融资计划和想法等问题进行了 深入探讨。随后在李相敢老师等陪同下参观了科稷达隆组织培养实验 室、分子实验室及人工智能温室，了解科稷达隆基因编辑等研发平台 的最新技术及研发进展情况。双方在保密协议框架下，继续展开了信 息和数据的交流。</p>
    <img class="full-width" src="./assets/events<% print(id) %>/1.png">
</div>