<div class="article">
    <h2>春光正好 下地干活</h2>
    <h3>----记 2021 年科稷达隆春耕团建活动</h3>
    <img class="full-width" src="./assets/events<% print(id) %>/1.png">
    <p>2021 年 4 月 16 日，科稷达隆员工集体参加了公司顺义基地的农 耕生产活动，播种棉花和水稻诱变材料，修缮基地围栏。大家克服大 风天气，圆满地完成了全部任务。此次活动不仅锻炼了团队吃苦耐劳 和协同合作的精神，同时，仅修缮围栏一项，就为公司节省了近万元 的施工费用。</p>
    <p>“春耕团建”是科稷达隆人每年都要参与的一次锻炼，总经理李 相敢老师一直强调:“农业工作者应该体验农耕劳作，相比游山玩水， 春耕生产才是最好的团建形式，集体去做一件事情的时候更能展现团 队的合作。”</p>
    <p>针对今年大田春耕的重点工作，相敢老师提前排兵布阵，把队伍 分成了三组:</p>
    <p>修围栏一组:队员为男生和极少数体力强的女生，突击队长李相敢;</p>

    <p>种棉花二组:队员为项目团队和行政人员，突击队长罗祖勇;</p>
    <p>种水稻三组:队员为分子转化团队及其他人员，突击队长张李;</p>
    <p>后勤辅助:负责安排午饭和往返车辆分配，负责人葛玉君。</p>
    <p>大田组的伙伴们提前做好准备工作，保证集体活动的高效有序。 玉君负责后勤协调，组织往返车辆和人员分配;张李和祖勇规划好田 间地块，张李为准备诱变的种子材料和实验连续两天两夜奋战在基地; 祖勇刚从海南出差回来，当天凌晨 3 点到家，早上没吃早饭就匆忙赶 到了基地。</p>
    <p>全员一到基地就迅速投入到各项工作中，撸胳膊挽袖子，面朝黄 土背朝天，在汗水和泥土中真实地体验了农耕生产的苦与乐。</p>
    <p>修围栏，难度大。挂满倒刺的铁丝，一根根剪断，百余斤重的水 泥桩子，一根根搬开。打新桩，挥大锤，大家都笑称“一锤八十”， 八十块有没有不知道，八十斤的力道肯定不少。拉新网，打结扣，力 气小体力弱的伙伴也找到了用武之地，一节一扣乐此不疲，工程结束 了还意犹未尽。</p>
    <p>种水稻，先整地。水稻田要根据量好的尺寸分成若干个区，在平 整好的一大片土地上，挖出纵横交错又宽又高的陇，以便浇水灌溉; 撒好的种子，也需要覆盖上一层薄厚均匀的土。这项工作单调重复强 度大，弯腰低头一锹一锹，大家渐渐没了力气，三不五时直起身子捶 捶腰，没干过活儿的年轻人有的累得频频站上地头休息。这时总有几 位机器人一般的伙伴，始终不乱步伐、不变节奏地稳步向前，还有一 些咬牙坚持的主管们一起身先士卒，在大家的鼓舞和带领下，地头休息的年轻人也满血复活，齐心协力圆满地完成了任务。 </p>
    <p>种棉花，齐上阵。棉花地播种面积大，所有忙完了原有任务的伙伴们都整齐聚集到了棉花地。播种棉花大家犁垄沟、撒种子、培上土， 三人一组，流水线作业，迅速高效。一阵风吹过，漫天黄土下，一排 排一队队急行的白大褂，行云流水般，忙的热火朝天。美中不足的是， 由于大风的影响，把用作参照的标准线都吹成了弧形，大家把棉花陇也都犁成了弧形。 </p>
    <p>这次春耕团建活动，不仅解决了大田的用工难题，完成了棉花和水稻的播种，修葺好了破损的围栏，节约了费用。伙伴们还在集体活 动中感受到了科稷达隆团队吃苦攻坚、协同高效的优良作风。有些伙 伴修完围栏，马上转战水稻田，种完水稻，又赶去播种棉花。队伍中 有很多这样的闪光形象，肯出力，能吃苦，身先士卒，带头奉献，给 全员和管理团队留下了深刻的印象。</p>
</div>